@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFBF2;

}

/* .container {
  width: 100vw;
  min-height: 100vh;
  background-color: #FFFBF2;
} */