@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFBF2;

}

/* .container {
  width: 100vw;
  min-height: 100vh;
  background-color: #FFFBF2;
} */