.about-container {
    border-radius: 1.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-title {
    margin-bottom: 1rem;
    font-family: 'Great Vibes';
}

.about-text {
    font-family: 'Pacifico', cursive;
    line-height: 2.7rem;
}

/* Personalización de la barra de scroll para navegadores Chrome, Edge y Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8B5E3C;
    /* El color de tu título */
    border-radius: 20px;
}

/* Para Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8B5E3C transparent;
}