.section-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(37, 153, 255);
}

.section-container {
    padding: 4rem 2rem;

}


.product-card-wrapper {
    position: relative;
    /* Anchor for the absolute image */
    /* width: 500px; */
    max-width: 100%;
}

.product-container {
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 12rem; */
    padding-left: 2.5rem;
    border-radius: 2rem;
    /* Optional: shadow for the box itself */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
}

.product-text {
    font-family: Pacifico;
    /* font-size: 2.5rem; */
    /* font-weight: 400; */
    /* color: white; */
    /* Figma Pink text */
    line-height: 1.1;
    z-index: 10;
    /* Keeps text above image if they overlap */
}