.social-buttons-container {
    display: flex;

}

.social-buttons-container button {
    background-color: none;
}


.social-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.social-button img {
    /* width: 50px;
    height: 50px; */
    transition: transform 0.3s ease-in-out;
}

.social-button:hover img {
    transform: scale(1.2);
}