.social-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: right;
    margin-top: 20px;
    position: fixed;
    top: 15%;
    right: 4%;
    gap: 1.3rem;
}

.social-buttons-container button {

    background-color: none;


}


.social-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.social-button img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.social-button:hover img {
    transform: scale(1.2);
}